<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/07-form" method="POST">
        <p>
            登陆账号：<input type="text" name="account">
        </p>
        <p>
            用户爱好：
            <input type="checkbox" name="hobby" value="0">吃
            <input type="checkbox" name="hobby" value="1">喝
            <input type="checkbox" name="hobby" value="2">玩
            <input type="checkbox" name="hobby" value="3">乐

        </p>
            <p>
                <input type="submit">
            </p>

    </form>
</body>
</html>