<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<style>
    #container{
        border:2px solid red;
        border-radius:3px;
    }


</style>
    <h1>这是我第一个模板文件</h1>
    <h2>以下是变量的显示</h2>
    <h3>姓名:{{name}}</h3>
    <h3>年龄:{{age}}</h3>
    <h3>性别:{{gender}}</h3>



    <div id="container">
        <p>这是容器中的标题</p>
        <ul>
            <li>蒙蒙</li>
            <li>老魏</li>
            <li>大仙</li>


        </ul>
    </div>
</body>
</html>