<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/commin.js"></script>
    <script src="/static/js/01-register.js"></script>

</head>


<body>



    <div class="register">
        <p>
            用户名称： <input type="text" id="uname">
            <span id="uname-tip"></span>
        </p>

        <p>
            用户密码：<input type="password" id="upwd">
        </p>
        <p>
            用户昵称： <input type="text" id="nickname">
        </p>
        <p>
            <button id="btnReg">注册</button>
        </p>




    </div>



</body>
</html>